@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora Bold/Lorabold.eot');
	src: local('☺'), url('../fonts/Lora Bold/Lorabold.woff') format('woff'), url('../fonts/Lora Bold/Lorabold.ttf') format('truetype'), url('../fonts/Lora Bold/Lorabold.svg') format('svg');
	font-weight: 600;
	font-style: bold;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open Sans Light/opensanslight.eot');
	src: local('☺'), url('../fonts/Open Sans Light/opensanslight.woff') format('woff'), url('../fonts/Open Sans Light/opensanslight.ttf') format('truetype'), url('../fonts/Open Sans Light/opensanslight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open Sans Regular/opensans.eot');
	src: local('☺'), url('../fonts/Open Sans Regular/opensans.woff') format('woff'), url('../fonts/Open Sans Regular/opensans.ttf') format('truetype'), url('../fonts/Open Sans Regular/opensans.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open Sans Semibold/opensanssemibold.eot');
	src: local('☺'), url('../fonts/Open Sans Semibold/opensanssemibold.woff') format('woff'), url('../fonts/Open Sans Semibold/opensanssemibold.ttf') format('truetype'), url('../fonts/Open Sans Semibold/opensanssemibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}