+between(900px, 1399px)
	.main-header
		&__bunner
			size(100%, 44.36vw)
			padding 13.71vw 8.21vw 10.71vw

		&__title
			padding-bottom 2.14vw
			font(Lora, 4.14vw, 4.14vw, 600)

		&__description
			margin-bottom 6.07vw
			font(OpenSans, 1.79vw, 1.79vw, 400)

		&__btn-started
			padding 1.86vw 5.07vw
			font(OpenSans, 1.79vw, 1.79vw, 400)
			border-radius 2.57vw
			
	.top-header
		size(100%, 6.43vw)
		padding 0 8.21vw

		&__logo
			size(9.29vw, 2.71vw)

	.main-nav
		&__item
			margin 0.36vw
			padding 1.07vw 1.79vw
			font(OpenSans, 1vw, 1vw, 600)
			border-radius 1.79vw
			
	.services
		padding 5vw 8.21vw

		&__title
			margin-bottom 6.79vw
			padding-bottom 2.43vw
			font(Lora, 3.07vw, 3.07vw, 600)

	.service
		size(20.21vw, auto)
		padding 1.43vw 1.07vw

		&__icon
			size(5.71vw)
			margin 0 auto 1.36vw

		&__svg
			size(100%)
			padding 1.64vw

		&__name
			margin-bottom 1.29vw
			font(OpenSans, 1.29vw, 1.29vw, 600)

			&:after
				markertitle(1.36vw, 2.86vw, 1px)