+between(320px, 599px)
	body
		font(OpenSans, 2vw, 3.3vw, 200)
		
	.main-header
		&__bunner
			size(100%, auto)
			padding 13vw 5vw 13vw

		&__title
			padding-bottom 4vw
			font(Lora, 7vw, 7vw, 600)

		&__description
			margin-bottom 7vw
			font(OpenSans, 3vw, 3vw, 400)

		&__btn-started
			padding 1.86vw 5.07vw
			font(OpenSans, 3vw, 3vw, 400)
			border-radius 3vw
			
	.top-header
		size(100%, 13vw)
		padding 0 10vw
		background-color rgba(#9b9ea5, 1)

		&__logo
			size(18vw, 5.25vw) //3.428
			
		&__btn-menu
			display block
			size(6vw)

	.main-nav
		position absolute
		top 13vw
		left 0
		display none
		size(100%, auto)
		background-color rgba(#9b9ea5, 1)
		text-align center
		
		&__item
			display block
			margin 0vw
			padding 3vw
			font(OpenSans, 3.5vw, 3.5vw, 600)
			border-bottom 1px solid rgba(#fff, 0.5)
			border-radius 0vw
			
	.services
		padding 8vw

		&__title
			margin-bottom 6.79vw
			font(Lora, 3.07vw, 3.07vw, 600)
			
			&:after
				markertitle(4vw, 10vw, 0.3vw)
			
		&__list
			flex-wrap wrap
			justify-content space-around

	.service
		size(38vw, auto)
		padding 3vw 2vw
		
		&:nth-of-type(1),
		&:nth-of-type(2)
			margin-bottom 10vw

		&__icon
			size(9vw)
			margin 0 auto 3.5vw

		&__svg
			padding 2.5vw

		&__name
			margin-bottom 2.5vw
			font(OpenSans, 2vw, 2vw, 600)

			&:after
				markertitle(1.5vw, 3.5vw, 1px)
				
	.portfolio
		margin-top 2vw
		padding 4.5vw 8.21vw 4.64vw

		&__title
			margin-bottom 5vw
			font(Lora, 3.07vw, 3.07vw, 600)

			&:after
				markertitle(2.14vw, 10.71vw, 0.29vw)

		&__photo-link
			margin-bottom 3vw

		&__photo-img
			size(40vw, 29.48vw)

		&__photo-name
			size(27.14vw, auto)
			padding 2.5vw
			font(OpenSans, 2vw, 2vw, 600)

		&__show-more
			btn(1.57vw, 4.57vw, 1.79vw, 2.29vw)
			margin-top 3.2vw

	.work-types
		margin-bottom 4vw

		&__item
			padding 0.86vw 1.79vw
			font(OpenSans, 2vw, 2vw, 400)
			
	.ui-state-active .work-types__item
		&:before
			content ''
			position absolute
			bottom 0
			left 50%
			size(3.4vw, 2px)
			margin-left -1.7vw
			background-color accent
			
	.brands
		padding 5vw 8.21vw 8.57vw

		&__title
			margin-bottom 3.57vw
			font(Lora, 3.07vw, 3.07vw, 600)

			&:after
				markertitle(2.14vw, 10.71vw, 0.29vw)
			
		&__list
			flex-wrap wrap
			justify-content center

		&__logo
			size(20%, auto)
			align-self center
			margin 3vw 4vw