+between(600px, 899px)
	body
		font(OpenSans, 1.5vw, 2.5vw, 200)
		
	.main-header
		&__bunner
			size(100%, auto)
			padding 13.71vw 8.21vw 10.71vw

		&__title
			padding-bottom 2.14vw
			font(Lora, 5.2vw, 5.2vw, 600)

		&__description
			margin-bottom 6.07vw
			font(OpenSans, 2vw, 2vw, 400)

		&__btn-started
			padding 1.86vw 5.07vw
			font(OpenSans, 2vw, 2vw, 400)
			border-radius 2.57vw
			
	.top-header
		size(100%, 8vw)
		padding 0 8.21vw

		&__logo
			size(11vw, 3.21vw) //3.428

	.main-nav
		&__item
			margin 0.36vw
			padding 1.07vw 1.79vw
			font(OpenSans, 1.5vw, 1.5vw, 600)
			border-radius 1.79vw
			
	.services
		padding 8vw 10vw

		&__title
			margin-bottom 6.79vw
			padding-bottom 2.43vw
			font(Lora, 3.07vw, 3.07vw, 600)
			
			&:after
				markertitle(2.14vw, 10.71vw, 0.29vw)
			
		&__list
			flex-wrap wrap
			justify-content space-around

	.service
		size(34vw, auto)
		padding 3vw 2vw
		
		&:nth-of-type(1),
		&:nth-of-type(2)
			margin-bottom 10vw

		&__icon
			size(7vw)
			margin 0 auto 3vw

		&__svg
			padding 2vw

		&__name
			margin-bottom 1.7vw
			font(OpenSans, 1.7vw, 1.7vw, 600)

			&:after
				markertitle(1.5vw, 3.5vw, 1px)
				
	.portfolio
		margin-top 2vw
		padding 3.29vw 8.21vw 4.64vw

		&__title
			margin-bottom 3.57vw
			font(Lora, 3.07vw, 3.07vw, 600)

			&:after
				markertitle(2.14vw, 10.71vw, 0.29vw)

		&__photo-link
			margin-bottom 1.07vw

		&__photo-img
			size(27.14vw, 20vw)

		&__photo-name
			size(27.14vw, auto)
			padding 2.14vw 2.43vw
			font(OpenSans, 1.29vw, 1.29vw, 600)

		&__show-more
			btn(1.57vw, 4.57vw, 1.79vw, 2.29vw)
			margin-top 3.2vw

	.work-types
		margin-bottom 2.86vw

		&__item
			padding 0.86vw 1.79vw
			font(OpenSans, 1.7vw, 1.7vw, 400)
			
	.ui-state-active .work-types__item
		&:before
			content ''
			position absolute
			bottom 0
			left 50%
			size(3.4vw, 2px)
			margin-left -1.7vw
			background-color accent
			
	.brands
		padding 5vw 8.21vw 8.57vw

		&__title
			margin-bottom 3.57vw
			font(Lora, 3.07vw, 3.07vw, 600)

			&:after
				markertitle(2.14vw, 10.71vw, 0.29vw)
			
		&__list
			flex-wrap wrap
			justify-content center

		&__logo
			size(20%, auto)
			align-self center
			margin 3vw 4vw
			
	.reviews
		padding 4.64vw 10.36vw 5vw

		&__title
			margin-bottom 4.29vw
			font(Lora, 3.07vw, 3.07vw, 600)

			&:after
				markertitle(2.14vw, 10.71vw, 0.29vw)

		&__prev-review
			top 24.5vw
			left 10.36vw
			size(3.5vw)

		&__next-review
			top 24.5vw
			right 10.36vw
			size(3.5vw)

	.review
		width 45vw

		&__photo
			size(11vw)
			margin-bottom 2.86vw

		&__description
			margin-bottom 2.5vw
			font(Lora, 1.71vw, 2.14vw, 400)

		&__user
			font(Lora, 1.4vw, 2.14vw, 400)

		&__source
			font(Lora, 1.4vw, 2.14vw, 400)

	.main-footer
		&__top-footer
			padding 5vw
			
		&__bottom-footer
			padding 2vw 8.21vw

		&__copyright
			font(OpenSans, 1vw, 3vw, 300)

		&__up-btn
			top -2.5vw
			size(5vw)
			margin-left -2.5vw
			padding 1.5vw

	.footer-nav
		&__link
			padding 1.21vw 1.02vw
			font(OpenSans, 1.8vw, 2.14vw, 300)
			border-radius 1.4vw

	.contacts
		width 27.14vw
		padding-top 3.79vw
		padding-left 3.21vw

		&__title
			top -2.5vw
			left 3.21vw
			font(Lora, 2.36vw, 2.86vw, 600)

		&__subtitle
			padding-top 4.43vw
			padding-bottom 1.79vw
			font(OpenSans, 1.71vw, 2.14vw, 600)

		&__date
			font(OpenSans, 1.4vw, 1.8vw, 300)

	.feedback-form
		padding-top 7.14vw

		&__label-name
			width 23vw
			margin-right 3.57vw
			margin-bottom 3.93vw
			font(OpenSans, 1.79vw, 2.71vw, 300)

		&__input-name
			padding 0.71vw 1.57vw
			font(OpenSans, 1.43vw, 2.14vw, 300)
			placeholder(font-size, 1.43vw)
			placeholder(line-height, 2.14vw)

		&__label-subject
			width 23vw
			margin-bottom 3.93vw
			font(OpenSans, 1.79vw, 2.71vw, 300)

		&__input-subject
			padding 0.71vw 1.57vw
			font(OpenSans, 1.43vw, 2.14vw, 300)
			placeholder(font-size, 1.43vw)
			placeholder(line-height, 2.14vw)

		&__label-message
			margin-bottom 4.29vw
			font(OpenSans, 1.79vw, 2.71vw, 300)

		&__input-message
			size(100%, 10vw)
			font(OpenSans, 1.43vw, 2.14vw, 300)
			placeholder(font-size, 1.43vw)
			placeholder(line-height, 2.14vw)

		&__btn
			btn(1.5vw, 4vw, 1.79vw, 2.29vw)
			border-radius 2.29vw
			
	.social
		&__link
			size(3vw)
			margin 0 0.6vw
			