+between(320px, 599px)
	body
		font(OpenSans, 2vw, 3.3vw, 200)
		
	.main-header
		&__bunner
			size(100%, auto)
			padding 13vw 5vw 13vw

		&__title
			padding-bottom 4vw
			font(Lora, 7vw, 7vw, 600)

		&__description
			margin-bottom 7vw
			font(OpenSans, 3vw, 3vw, 400)

		&__btn-started
			padding 1.86vw 5.07vw
			font(OpenSans, 3vw, 3vw, 400)
			border-radius 3vw
			
	.top-header
		size(100%, 13vw)
		padding 0 10vw
		background-color rgba(#9b9ea5, 1)

		&__logo
			size(18vw, 5.25vw) //3.428
			
		&__btn-menu
			display block
			size(6vw)

	.main-nav
		position absolute
		top 13vw
		left 0
		display none
		size(100%, auto)
		background-color rgba(#9b9ea5, 1)
		text-align center
		
		&__item
			display block
			margin 0vw
			padding 3vw
			font(OpenSans, 3.5vw, 3.5vw, 600)
			border-bottom 1px solid rgba(#fff, 0.5)
			border-radius 0vw
			
	.services
		padding 8vw

		&__title
			margin-bottom 6.79vw
			font(Lora, 3.07vw, 3.07vw, 600)
			
			&:after
				markertitle(4vw, 10vw, 0.3vw)
			
		&__list
			flex-wrap wrap
			justify-content space-around

	.service
		size(38vw, auto)
		padding 3vw 2vw
		
		&:nth-of-type(1),
		&:nth-of-type(2)
			margin-bottom 10vw

		&__icon
			size(9vw)
			margin 0 auto 3.5vw

		&__svg
			padding 2.5vw

		&__name
			margin-bottom 2.5vw
			font(OpenSans, 2vw, 2vw, 600)

			&:after
				markertitle(1.5vw, 3.5vw, 1px)