clearfix()
	&:after
		display table
		clear both
		content ''
		
size($width, $height = $width)
	width $width
	height $height
	
font($name = OpenSans, $fsize = 16px, $lheight = $fsize, $fweight = 400)
	font-family $name, sans-serif
	font-size $fsize
	line-height $lheight
	font-weight $fweight
	
placeholder(prop, value)
	&::-webkit-input-placeholder
		{prop} value
	&::-moz-input-placeholder
		{prop} value
		
markertitle($margin = 30px, $width = 150px, $height = 4px)
	content ''
	position relative
	margin $margin auto 0
	display block
	size($width, $height)
	background-color accent
	
btn($paddingg = 26px, $paddingv = 71px, $fsize = 25px, $bradius = 36px)
	padding $paddingg $paddingv
	background-color accent
	color #fff
	font(OpenSans, $fsize, $fsize, 400)
	border 2px solid transparent
	border-radius $bradius
	box-shadow 0 2px 2px 0 rgba(#000, 0.3)

	&:hover
		background-color lighten(accent, 20%)

	&:active
		background-color transparent
		border-color accent
		
label()
	font(OpenSans, 25px, 38px, 300)
	color #ffffff
	text-align left
	
input()
	padding 10px 22px
	background-color transparent
	font(OpenSans, 20px, 30px, 300)
	color #ffffff
	text-align left
	border none
	border-bottom 2px solid #72747b
	placeholder(color, #fff)
	placeholder(font-size, 20px)
	placeholder(line-height, 30px)
	
	&:focus()
		border-bottom-color accent