*, *:before, *:after 
	margin 0
	padding 0
	box-sizing border-box
	text-decoration none
	outline none
	list-style none
	
body
	width 100%
	max-width 1400px
	margin 0 auto
	padding 0
	background-color #ffffff
	color grayText
	font(OpenSans, 12px, 20px, 200)
	
.main-header
	width 100%
	background-color bluegray
	background-image url('../images/header-bg.jpg')
	background-repeat no-repeat
	background-size auto 100%
	background-position center
	color #ffffff
	
	+retina()
		background-image url('../images/header-bg@2.jpg')
	
	&__bunner
		size(100%, 621px)
		padding 192px 115px 150px
		text-align center
		
	&__title
		margin 0
		padding-bottom 30px
		font(Lora, 58px, 58px, 600)
		
	&__description
		margin-bottom 85px
		font(OpenSans, 25px, 25px, 400)
		
	&__btn-started
		btn()
	
.top-header
	position relative
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	size(100%, 90px)
	padding 0 115px
	
	&__logo
		size(130px, 38px)
		text-decoration none
		color #ffffff
		
		img
			size(100%)
			
	&__btn-menu
		display none
		background-color transparent
		border none
			
	&__btn-icon
		size(100%)
		fill #ffffff
		
.main-nav
	&__item
		display inline-block
		margin 5px
		padding 15px 25px
		color #ffffff
		text-decoration none
		font(OpenSans, 14px, 14px, 600)
		border-radius 25px
		
		&:hover
			background-color rgba(#ffffff, 0.3)
			
		&:active
			background-color rgba(#ffffff, 0.3)
			color accent
			
.main-content
	width 100%
	
.services
	padding 70px 115px
	text-align center
	
	&__title
		position relative
		margin-bottom 95px
		text-transform uppercase
		font(Lora, 43px, 43px, 600)
		color textColor
		
		&:after
			markertitle()
			
	&__list
		display flex
		flex-wrap nowrap
		justify-content space-between
		
.service
	size(283px, auto)
	padding 20px 15px
	text-align center
	color grayText
	border 1px solid transparent
	border-radius 15%
	
	&:hover
		border-color accent
		
		.service__name
			color accent
	
	&__icon
		display block
		size(80px)
		margin 0 auto 19px
		background-color #f5f6f8
		border-radius 50%
		
	&__svg
		size(100%)
		padding 23px
		fill accent
		
	&__name
		position relative
		margin-bottom 18px
		font(OpenSans, 18px, 18px, 600)
		text-transform uppercase
		color textColor
		
		&:after
			markertitle(19px, 40px, 1px)
			background-color bluegray
		
.portfolio
	margin-top 28px
	padding 46px 115px 65px
	background-color #f5f6f8
	text-align center
	
	&__title
		position relative
		margin-bottom 50px
		text-transform uppercase
		font(Lora, 43px, 43px, 600)
		color textColor
		
		&:after
			markertitle()
			
	&__photos-block
		width 100%
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap wrap
		
	&__photo-link
		margin-bottom 15px
		box-shadow 0 2px 2px 0 rgba(#000, 15%)
		
	&__photo-img
		size(380px, 280px)
			
	&__photo-name
		size(380px, auto)
		padding 30px 34px
		text-align left
		color textColor
		font(OpenSans, 18px, 18px, 600)
			
	&__show-more
		btn(22px, 64px, 25px, 32px)
		margin-top 45px
		
		&:active
			color accent
		
.work-types
	display flex
	justify-content center
	align-items center
	margin-bottom 40px
		
	&__item
		padding 12px 25px
		font(OpenSans, 14px, 14px, 400)
		text-transform uppercase
		text-align center
		color textColor
		
.ui-state-active .work-types__item
	position relative
	margin 0
	color accent
	text-align center
	
	&:before
		content ''
		position absolute
		bottom 0
		left 50%
		size(24px, 2px)
		margin-left -12px
		background-color accent
		
		
.brands
	width 100%
	padding 70px 115px 120px
	text-align center
	
	&__title
		position relative
		margin-bottom 50px
		text-transform uppercase
		font(Lora, 43px, 43px, 600)
		color textColor
		
		&:after
			markertitle()
			
	&__list
		display flex
		justify-content space-between
		flex-wrap nowrap
		
	&__logo
		size(auto)
		flex-shrink 0
		align-self center

.reviews
	position relative
	width 100%
	padding 65px 145px 70px
	background-color #f5f6f8
	text-align center
	
	&__title
		position relative
		margin-bottom 60px
		text-transform uppercase
		font(Lora, 43px, 43px, 600)
		color textColor
		
		&:after
			markertitle()
			
	&__prev-review
		position absolute
		top 343px
		left 145px
		display block
		size(33px)
		background-color transparent
		border none
		
	&__prev-icon
		size(100%)
		fill #999999
		
	&__next-review
		position absolute
		top 343px
		right 145px
		display block
		size(33px)
		background-color transparent
		border none
		
	&__next-icon
		size(100%)
		fill #999999

.review
	position relative
	display none
	width 580px
	margin 0 auto
	
	&:nth-of-type(2)
		display block
		
	&__photo
		size(135px)
		margin-bottom 40px
		border-radius 50%
		
	&__description
		margin-bottom 35px
		font(Lora, 24px, 30px, 400)
		color textColor
		
	&__user
		font(Lora, 18px, 30px, 400)
		color textColor
		
	&__source
		font(Lora, 18px, 30px, 400)
		color textColor
		text-decoration underline




		
		
		