+between(0px, 319px)
	body
		min-width 320px
		font(OpenSans, 6.4px, 10.6px, 200)
	
	.main-header
		&__bunner
			size(100%, auto)
			padding 41.6px 16px

		&__title
			padding-bottom 12.8px
			font(Lora, 22.4px, 22.4px, 600)

		&__description
			margin-bottom 22.4px
			font(OpenSans, 9.6px, 9.6px, 400)

		&__btn-started
			padding 6px 16.2px
			font(OpenSans, 9.6px, 9.6px, 400)
			border-radius 9.6px
			
	.top-header
		size(100%, 41.6px)
		padding 0 32px
		background-color rgba(#9b9ea5, 1)

		&__logo
			size(57.6px, 16.8px) //3.428
			
		&__btn-menu
			display block
			size(19.2px)

	.main-nav
		position absolute
		top 41.6px
		left 0
		display none
		size(100%, auto)
		background-color rgba(#9b9ea5, 1)
		text-align center
		
		&__item
			display block
			margin 0vw
			padding 9.6px
			font(OpenSans, 11.2px, 11.2px, 600)
			border-bottom 1px solid rgba(#fff, 0.5)
			border-radius 0vw
			
	.services
		padding 25.6px

		&__title
			margin-bottom 21.7px
			font(Lora, 9.8px, 9.8px, 600)
			
			&:after
				markertitle(12.8px, 32px, 1px)
			
		&__list
			flex-wrap wrap
			justify-content space-around

	.service
		size(121.6px, auto)
		padding 9.6px 6.4px
		
		&:nth-of-type(1),
		&:nth-of-type(2)
			margin-bottom 32px

		&__icon
			size(28.8px)
			margin 0 auto 11.2px

		&__svg
			padding 8px

		&__name
			margin-bottom 8px
			font(OpenSans, 6.4px, 6.4px, 600)

			&:after
				markertitle(4.8px, 11.2px, 1px)
				
	.portfolio
		margin-top 6.4px
		padding 14.4px 26.3px 14.8px

		&__title
			margin-bottom 16px
			font(Lora, 9.8px, 9.8px, 600)

			&:after
				markertitle(6.8px, 34.3px, 1px)

		&__photo-link
			margin-bottom 9.6px

		&__photo-img
			size(128px, 94.3px)

		&__photo-name
			size(86.8px, auto)
			padding 8px
			font(OpenSans, 6.4px, 6.4px, 600)

		&__show-more
			btn(5px, 14.6px, 5.7px, 7.3px)
			margin-top 10.2px

	.work-types
		margin-bottom 12.8px

		&__item
			padding 2.8px 5.7px
			font(OpenSans, 6.4px, 6.4px, 400)