DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='page, template, responsive')
			link(href='assets/images/favicon.png'   rel='icon' type='image/png')
			title Velox
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
			script(src="assets/scripts/libs.min.js")

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body
		
			header.main-header
				div.main-header__top-header.top-header
					a(href="#").top-header__logo.logo
						img(src="assets/images/logo.png", alt="Velox")
					nav.top-header__main-nav.main-nav
						a(href="#").main-nav__item Services
						a(href="#").main-nav__item Portfolio
						a(href="#").main-nav__item Testimonials
						a(href="#").main-nav__item About
						a(href="#").main-nav__item Contact
					button.top-header__btn-menu
						svg.top-header__btn-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_menu')
						
				div.main-header__bunner
					h1.main-header__title Velox One Page Template
					p.main-header__description Clean, Responsive, customizable one page template 
					button.main-header__btn-started Get Started Now
					
			main.main-content
			
				section.main-content__services.services
					h2.services__title Our Services
					div.services__list
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_pencil')
							h4.service__name Logo design
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_ux')
							h4.service__name Web design
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_light')
							h4.service__name Branding
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_vector')
							h4.service__name illustrations
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			
				section#tabs.main-content__portfolio.portfolio
					h2.portfolio__title Portfolio
					ul.portfolio__work-types.work-types
						li
							a(href="#tabs-1").work-types__item All
						li
							a(href="#tabs-2").work-types__item Illustrations     
						li
							a(href="#tabs-3").work-types__item Logo
						li
							a(href="#tabs-4").work-types__item Branding
						li
							a(href="#tabs-5").work-types__item Web design
							
					div#tabs-1.portfolio__photos-block.popup-gallery
						a(href="assets/images/work1.jpg").portfolio__photo-link
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1").portfolio__photo-img
							p.portfolio__photo-name Agency - PSD Template
						a(href="assets/images/work2.jpg").portfolio__photo-link
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Pure Vodka Branding
						a(href="assets/images/work3.jpg").portfolio__photo-link
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Web Design
						a(href="assets/images/work4.jpg").portfolio__photo-link
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Everest Logo
						a(href="assets/images/work5.jpg").portfolio__photo-link
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Poster Design
						a(href="assets/images/work6.jpg").portfolio__photo-link
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Illustration
					div#tabs-2.portfolio__photos-block
						a(href="assets/images/work2.jpg").portfolio__photo-link
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Pure Vodka Branding
						a(href="assets/images/work3.jpg").portfolio__photo-link
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Web Design
						a(href="assets/images/work4.jpg").portfolio__photo-link
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Everest Logo
						a(href="assets/images/work5.jpg").portfolio__photo-link
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Poster Design
						a(href="assets/images/work6.jpg").portfolio__photo-link
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Illustration
						a(href="assets/images/work1.jpg").portfolio__photo-link
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1").portfolio__photo-img
							p.portfolio__photo-name Agency - PSD Template
					div#tabs-3.portfolio__photos-block
						a(href="assets/images/work3.jpg").portfolio__photo-link
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Web Design
						a(href="assets/images/work4.jpg").portfolio__photo-link
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Everest Logo
						a(href="assets/images/work5.jpg").portfolio__photo-link
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Poster Design
						a(href="assets/images/work6.jpg").portfolio__photo-link
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Illustration
						a(href="assets/images/work1.jpg").portfolio__photo-link
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1").portfolio__photo-img
							p.portfolio__photo-name Agency - PSD Template
						a(href="assets/images/work2.jpg").portfolio__photo-link
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Pure Vodka Branding
					div#tabs-4.portfolio__photos-block
						a(href="assets/images/work4.jpg").portfolio__photo-link
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Everest Logo
						a(href="assets/images/work5.jpg").portfolio__photo-link
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Poster Design
						a(href="assets/images/work6.jpg").portfolio__photo-link
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Illustration
						a(href="assets/images/work1.jpg").portfolio__photo-link
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1").portfolio__photo-img
							p.portfolio__photo-name Agency - PSD Template
						a(href="assets/images/work2.jpg").portfolio__photo-link
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Pure Vodka Branding
						a(href="assets/images/work3.jpg").portfolio__photo-link
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Web Design
					div#tabs-5.portfolio__photos-block
						a(href="assets/images/work5.jpg").portfolio__photo-link
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Poster Design
						a(href="assets/images/work6.jpg").portfolio__photo-link
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Illustration
						a(href="assets/images/work1.jpg").portfolio__photo-link
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1").portfolio__photo-img
							p.portfolio__photo-name Agency - PSD Template
						a(href="assets/images/work2.jpg").portfolio__photo-link
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Pure Vodka Branding
						a(href="assets/images/work3.jpg").portfolio__photo-link
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Web Design
						a(href="assets/images/work4.jpg").portfolio__photo-link
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x").portfolio__photo-img
							p.portfolio__photo-name Everest Logo
					button.portfolio__show-more Show More
					
				section.main-content__brands.brands
					h2.brands__title Recent Brands we’ve worked with
					div.brands__list
						img(src="assets/images/brand1.png", srcset="assets/images/brand1@2.png 2x", title="brand1").brands__logo
						img(src="assets/images/brand2.png", srcset="assets/images/brand2@2.png 2x", title="brand2").brands__logo
						img(src="assets/images/brand3.png", srcset="assets/images/brand3@2.png 2x", title="brand3").brands__logo
						img(src="assets/images/brand4.png", srcset="assets/images/brand4@2.png 2x", title="brand4").brands__logo
						img(src="assets/images/brand5.png", srcset="assets/images/brand5@2.png 2x", title="brand5").brands__logo
						img(src="assets/images/brand6.png", srcset="assets/images/brand6@2.png 2x", title="brand6").brands__logo
				
				section.main-content__reviews.reviews
					h2.reviews__title See what others are saying about us
					
					div.reviews__list
						div.reviews__review.review
							img(src="assets/images/user1.jpg", srcset="assets/images/user1@2.jpg 2x", alt="Tony").review__photo
							p.review__description “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”
							p.review__user Tony from 
								a(href="#").review__source example.com
								
						div.reviews__review.review
							img(src="assets/images/user2.jpg", srcset="assets/images/user2@2.jpg 2x", alt="Linda").review__photo
							p.review__description “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”
							p.review__user Linda from 
								a(href="#").review__source example.com
								
						div.reviews__review.review
							img(src="assets/images/user3.jpg", srcset="assets/images/user3@2.jpg 2x", alt="Andy").review__photo
							p.review__description “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”
							p.review__user Andy from 
								a(href="#").review__source example.com
								
					button.reviews__prev-review
						svg.reviews__prev-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_left')
					
					button.reviews__next-review
						svg.reviews__next-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_right')
							
					
			footer.main-footer
				div.main-footer__top-footer
					div.main-footer__footer-nav.footer-nav
						a(href="#").footer-nav__link Home
						a(href="#").footer-nav__link About
						a(href="#").footer-nav__link Services
						a(href="#").footer-nav__link Blog
						a(href="#").footer-nav__link Contact Us
					div.main-footer__contacts.contacts
						h3.contacts__title Contact Us
						h4.contacts__subtitle Our Address
						p.contacts__date House No,11132, Sector 31, Gurgaon 122001  India
						h4.contacts__subtitle Call Us
						p.contacts__date +91-9876543210
						p.contacts__date +01262219018
						h4.contacts__subtitle Email Us
						p.contacts__date contactus@mail.com
						
					form(action="post").main-footer__feedback-form.feedback-form
						label(for="name").feedback-form__label-name Name :
							input(type="text", id="name", name="user-name").feedback-form__input-name
						label(for="subject").feedback-form__label-subject Subject :
							input(type="text", id="subject", name="subject").feedback-form__input-subject
						label(for="message").feedback-form__label-message Your Message :
							textarea( id="message", name="message", cols="30", rows="10").feedback-form__input-message
						button.feedback-form__btn Send message
						
				
				div.main-footer__bottom-footer
					p.main-footer__copyright &copy; 2016 Nishant Bazzad
					
					div.main-footer__up-btn
						svg.main-footer__up-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_up')
							
					div.main-footer__social.social
						a(href="#").social__link
							svg.social__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
						a(href="#").social__link
							svg.social__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
						a(href="#").social__link
							svg.social__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_dots')
						a(href="#").social__link
							svg.social__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_linkedin')
					
			div.modal-form
				div.modal-form__window
					p Форма не отправлена. 
					p Программа обработки не найдена.
				div.modal-form__overlay
				
			div.modal-link
				div.modal-link__window
					p Переход по ссылке отменен.
					p Страница не найдена.
				div.modal-link__overlay
					
			
			script(type='text/javascript' src="assets/scripts/script.js")