DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='page, template, responsive')
			link(href='assets/images/favicon.png'   rel='icon' type='image/png')
			title Velox
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body
		
			header.main-header
				div.main-header__top-header.top-header
					a(href="#").top-header__logo.logo
						img(src="assets/images/logo.png", alt="Velox")
					nav.top-header__main-nav.main-nav
						a(href="#").main-nav__item Services
						a(href="#").main-nav__item Portfolio
						a(href="#").main-nav__item Testimonials
						a(href="#").main-nav__item About
						a(href="#").main-nav__item Contact
					button.top-header__btn-menu
						svg.top-header__btn-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_menu')
						
				div.main-header__bunner
					h1.main-header__title Velox One Page Template
					p.main-header__description Clean, Responsive, customizable one page template 
					button.main-header__btn-started Get Started Now
					
			main.main-content
			
				section.main-content__services.services
					h2.services__title Our Services
					div.services__list
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_pencil')
							h4.service__name Logo design
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_ux')
							h4.service__name Web design
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_light')
							h4.service__name Branding
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
						a(href="#").services__item.service
							div.service__icon
								svg.service__svg
									use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_vector')
							h4.service__name illustrations
							p.service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			
			
			script(type='text/javascript' src="assets/scripts/script.js")